## Springboard Data Science Career Track

### 8.3 - SQL Case Study (Country Club) Part 2 by Ashutosh Varshney

Imports, function defs and testing

In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "C:\Springboard\coursework\SQLFiles Tier 1\sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

Setup database connection

In [2]:
database = "C:\Springboard\coursework\SQLFiles Tier 1\sqlite_db_pythonsqlite.db"

# create a database connection
conn = create_connection(database)

2.6.0

#### Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!

In [3]:
query = """
        SELECT b.bookid, b.memid, f.facid, f.name, 
               sum(case when b.memid = 0 then f.guestcost else f.membercost end) as total_revenue
        FROM Bookings b
        LEFT JOIN Facilities f using (facid)
        GROUP BY f.facid
        HAVING total_revenue < 1000
        ORDER BY total_revenue asc
        """
cur = conn.cursor()
cur.execute(query)
rows = cur.fetchall()

for row in rows:
    print(row)

(0, 1, 3, 'Table Tennis', 90)
(3, 1, 7, 'Snooker Table', 115)
(4, 1, 8, 'Pool Table', 265)
(18, 1, 2, 'Badminton Court', 604.5)

#### Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [4]:
query = """
        SELECT m1.surname, m1.firstname, m2.surname, m2.firstname
        FROM Members m1
        LEFT OUTER JOIN Members m2 ON m1.memid = m2.recommendedby
        ORDER BY m1.surname, m1.firstname
        """
cur = conn.cursor()
cur.execute(query)
rows = cur.fetchall()

for row in rows:
    print(row)

('Bader', 'Florence', 'Sarwin', 'Ramnaresh')
('Baker', 'Anne', None, None)
('Baker', 'Timothy', 'Coplin', 'Joan')
('Boothe', 'Tim', None, None)
('Butters', 'Gerald', 'Genting', 'Matthew')
('Coplin', 'Joan', None, None)
('Crumpet', 'Erica', None, None)
('Dare', 'Nancy', None, None)
('Farrell', 'David', None, None)
('Farrell', 'Jemima', 'Baker', 'Timothy')
('Farrell', 'Jemima', 'Pinker', 'David')
('GUEST', 'GUEST', None, None)
('Genting', 'Matthew', 'Rumney', 'Henrietta')
('Hunt', 'John', None, None)
('Jones', 'David', 'Jones', 'Douglas')
('Jones', 'Douglas', None, None)
('Joplette', 'Janice', 'Dare', 'Nancy')
('Joplette', 'Janice', 'Jones', 'David')
('Mackenzie', 'Anna', None, None)
('Owen', 'Charles', None, None)
('Pinker', 'David', None, None)
('Purview', 'Millicent', 'Hunt', 'John')
('Rownam', 'Tim', 'Boothe', 'Tim')
('Rumney', 'Henrietta', None, None)
('Sarwin', 'Ramnaresh', None, None)
('Smith', 'Darren', 'Joplette', 'Janice')
('Smith', 'Darren', 'Butters', 'Gerald')
('Smith', 'Darren', 'Owen', 'Charles')
('Smith', 'Darren', 'Smith', 'Jack')
('Smith', 'Darren', 'Mackenzie', 'Anna')
('Smith', 'Darren', None, None)
('Smith', 'Jack', None, None)
('Smith', 'Tracy', 'Worthington-Smyth', 'Henry')
('Smith', 'Tracy', 'Purview', 'Millicent')
('Smith', 'Tracy', 'Crumpet', 'Erica')
('Stibbons', 'Ponder', 'Baker', 'Anne')
('Stibbons', 'Ponder', 'Bader', 'Florence')
('Tracy', 'Burton', 'Stibbons', 'Ponder')
('Tupperware', 'Hyacinth', None, None)
('Worthington-Smyth', 'Henry', None, None)

#### Q12: Find the facilities with their usage by member, but not guests

In [14]:
query = """
        SELECT f.name, COUNT(b.facid)
        FROM Bookings b
        LEFT JOIN Facilities f USING (facid)
        WHERE b.memid <> 0
        GROUP BY b.facid
        """

cur = conn.cursor()
cur.execute(query)
rows = cur.fetchall()

for row in rows:
    print(row)

('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Badminton Court', 344)
('Table Tennis', 385)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Squash Court', 195)
('Snooker Table', 421)
('Pool Table', 783)

#### Q13: Find the facilities usage by month, but not guests

In [18]:
query = """
        SELECT f.name, COUNT(b.facid), Substr (b.starttime, 1, 7) AS period
        FROM Bookings b
        LEFT JOIN Facilities f USING (facid)
        WHERE b.memid <> 0
        GROUP BY b.facid, period
        """

cur = conn.cursor()
cur.execute(query)
rows = cur.fetchall()

for row in rows:
    print(row)

('Tennis Court 1', 65, '2012-07')
('Tennis Court 1', 111, '2012-08')
('Tennis Court 1', 132, '2012-09')
('Tennis Court 2', 41, '2012-07')
('Tennis Court 2', 109, '2012-08')
('Tennis Court 2', 126, '2012-09')
('Badminton Court', 51, '2012-07')
('Badminton Court', 132, '2012-08')
('Badminton Court', 161, '2012-09')
('Table Tennis', 48, '2012-07')
('Table Tennis', 143, '2012-08')
('Table Tennis', 194, '2012-09')
('Massage Room 1', 77, '2012-07')
('Massage Room 1', 153, '2012-08')
('Massage Room 1', 191, '2012-09')
('Massage Room 2', 4, '2012-07')
('Massage Room 2', 9, '2012-08')
('Massage Room 2', 14, '2012-09')
('Squash Court', 23, '2012-07')
('Squash Court', 85, '2012-08')
('Squash Court', 87, '2012-09')
('Snooker Table', 68, '2012-07')
('Snooker Table', 154, '2012-08')
('Snooker Table', 199, '2012-09')
('Pool Table', 103, '2012-07')
('Pool Table', 272, '2012-08')
('Pool Table', 408, '2012-09')

Cleanup

In [19]:
conn.close()